<div class="row">
    <div class="col-xs-12">
        <h4>Add a new user</h4>

        <form [formGroup]="form" (ngSubmit)="onAddUser()">

            <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  class="form-control"
                  formControlName="name"
                  >
                  <span
                  *ngIf="name.touched &&!name.valid"
                   class="help-block">Please enter a valid name!</span>
              </div>

              <div class="form-group">
                <label for="age">Age</label>
                <input
                  type="number"
                  id="age"
                  name="age"
                  class="form-control"
                  formControlName="age"
                  >
              </div>
              <span
              *ngIf="age.touched &&!age.valid"
               class="help-block">Please enter a valid age!</span>

            <div class="form-group">
                <label for="email">email</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control"
                  formControlName="email"
                  >

                  <span
                  *ngIf="email.touched &&!email.valid"
                   class="help-block">Please enter a valid email!</span>

              </div>

              




              

              <button class="btn btn-primary" type="submit" [disabled] = "!form.valid">Add a new user</button>

              <div
              *ngIf="!form.valid && form.touched"
               class="help-block">Please enter a valid data!</div>

              
        </form>
    </div>
</div>
