<div class="row">
    <div class="col-xs-12">
        <h4>Add a new user</h4>

        <form [formGroup]="form" (ngSubmit)="onAddUser()">

            <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  id="name"
                  class="form-control"
                  formControlName="name"
                  >

              </div>

              <div class="form-group">
                <label for="age">Age</label>
                <input
                  type="text"
                  id="age"
                  class="form-control"
                  formControlName="age"
                  >
              </div>

            <div class="form-group">
                <label for="email">email</label>
                <input
                  type="text"
                  id="email"
                  class="form-control"
                  formControlName="email"
                  >
                 <!--<span
                  *ngIf="!form.get('email').valid && form.get('email').touched "
                   class="help-block">Please enter a valid email!</span>--> 
              </div>

              

              <button class="btn btn-primary" type="submit" [disabled] = "!form.valid">Submit</button>

              <div
              *ngIf="!form.valid && form.touched"
               class="help-block">Please enter a valid data!</div>

              
        </form>
    </div>
</div>
