

<div class="row">
    <div class="col-xs-12 col-md-6">
        <h2>Users</h2>

        <form [formGroup]="searchForm" 
        (ngSubmit)="onSearch()">

        <input type="text" placeholder="Search user:" 
        formControlName="searchInput"/>

        <button type="submit" [disabled]="!searchForm.valid">  Search </button>
        <p> Hint: Leanne Graham</p>

        </form>
    </div>
    <div class="col-md-6 col-xs-12">
            <div *ngFor = "let user of searchedUsers">
                {{user.id}}
                User ID: {{user.id}} <br/>
                Name : {{user.name}} <br/>
                Username : {{user.username}} <br/>
                Email : {{user.email}}
            </div>
    </div>
</div>