

<div class="row">
    <div class="col-xs-12 col-md-4">
        <h2>Users</h2>

        <form [formGroup]="searchForm" 
        (ngSubmit)="onSearch()">

        <input type="text" placeholder="Search user:" 
        formControlName="searchInput"/>

        <button type="submit" [disabled]="!searchForm.valid">  Search </button>
        <p> Hint: Leanne Graham</p>

        </form>
    </div>
    <div class="col-md-6 col-xs-12">
            <table class="table">
                <tbody>
                    <tr>
                      <th>id</th>
                      <th>name</th>
                      <th>username</th>
                      <th>email</th>
                    </tr>
                    <tr *ngFor = "let user of searchedUsers">
                        <td>{{user.id}}</td>
                        <td> {{user.name}}</td>
                        <td>{{user.username}}</td>
                        <td> {{user.email}}</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>